.checkout-address-box{
  padding: 0.75rem 1.75rem;
  border-radius: .25rem;
}
.checkout-box{
  flex-grow: 2;
}
.checkout-box .headline4{
  word-spacing: 3px;
}
.checkout-box .card.card-horz {
  padding: 1rem;
  border-radius: 0.5rem;
  margin: .5rem 0;
  box-shadow: var(--Shadow-03);
}
.checkout-box .card.card-horz .media-cont {
  width:5.5rem;
  flex-shrink: 0;
}
.checkout-box .action {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: end;
}
.checkout-box .card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap:1;
}

@media (max-width: 896px) {
  
  .checkout-box{
    width: 100%;
  }
  
  
}
@media (max-width: 410px) {
  .checkout-box .card.card-horz .media-cont {
    width: 4.5rem;
    display: flex;
    justify-content: center;
  }
  .checkout-box .card.card-horz .card-subtitle {
    width: 12rem;
  }
 
  
}
