*{
  --color-ash-gray: #C1C5B1;
  --color-jet-black: #010101;
  --color-cultured-white: #F5F5F6;
  --gradient-purple : linear-gradient(to right bottom, var(--color-purple-01) 1.26%, var(--color-purple-03) 100%);
  --gradient-purple-01 : linear-gradient(to right bottom, var(--color-purple-04) 1.26%, var(--color-purple-03) 100%);

}
html{
  height: 100vh;
}
.grey-color{
  color: var(--color-ash-gray)
}

.main-body{
  width: 90%;
  margin: auto;
}
a:-webkit-any-link {
  text-decoration:none;
  color: initial;
}

.pointer{
  cursor: pointer;
}


.react-icons{
  vertical-align: middle;
}
.width-half{
  width: 50%;
}
.align-baseline{
  align-items: baseline;
}
.text-justify{
  text-align: justify;
}